@charset "UFT-8";

* {
    padding: 10px;
}

body {
    background: rgba(6, 6, 121, 0.822);
    color: white;
}
.container {
    display: flex;
    justify-content: center;
}

.box {
    background: white;
    border-radius: 8px;
    box-shadow: 5px 8px 6px rgba(6, 6, 121, 0.575);
    width: 400px;
    height: 400px;
    margin: 100px;
    padding: 0
    
}

.header img {
    width: 200px;
    margin: auto;
    display: inherit;
    
}

.fluid input{
    border-radius: 3px;
    margin: auto;
    width: 200px;
    display: inherit;

}

button {
    background: rgba(6, 6, 121, 0.822);
    color: white;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(6, 6, 121, 0.575);
    margin: auto;
    width: 150px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: inherit;
    padding: 10px;
    border: 1px
}

.footer {
    margin: auto;
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: rgba(6, 6, 121, 0.822);
    cursor: pointer;
}
.footer a:hover{
    color: #fa5c5c;
}